body {
  margin: 0;
  font-family: 'Long Cang', cursive;
  font-size: 80px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1520758594221-872948699332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dugme{
  padding: 10px;
  font-family: 'Long Cang', cursive;
  font-size: 40px;
  border-radius: 15%;
  border: solid black;
  background-color: indianred;
  color: white;
}
